<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: minecraft
Vendor: slothsoft
Farah ID: farah://slothsoft@minecraft
Composer ID: slothsoft/minecraft

Homepage: http://farah.slothsoft.net/modules/minecraft
Packagist: https://packagist.org/packages/slothsoft/minecraft
GitHub: https://github.com/Faulo/slothsoft-minecraft

Llo
-->
  <default-configuration/>
  <assets>
  	
    <directory name="data" path="data">
    	<custom-asset name="sites.log" class="Slothsoft\Minecraft\Assets\LogPages"/>
    </directory>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static">
	    <resource name="news" path="news.xml" type="application/xml"/>
	    <resource name="tectonicus" path="tectonicus/index.html" type="text/html"/>
	    <resource name="tectonicus" path="tectonicus_old/index.html" type="text/html"/>
	    <resource name="log" path="log.xml" type="application/xml"/>
	    <resource-directory name="log" path="log" type="application/xml"/>
	    <resource name="players-faulo" path="players/Faulo" type="application/x-nbt"/>
	    <resource-directory name="players" path="C:\Minecraft\players" type="application/x-nbt"/>
	    <resource name="map-mcr" path="r.0.0.mcr" type="application/x-mcr"/>
	    <resource name="map-mca" path="r.-1.-1.mca" type="application/x-mca"/>
	    <resource name="hardware" path="hardware.txt" type="text/csv">
	      <options del="=" sep="" cols="2" output="assoc"/>
	    </resource>
	    <resource name="server" path="server.txt" type="text/csv">
	      <options del="=" sep="" cols="2" output="assoc"/>
	    </resource>
	    <resource name="info" path="info.txt" type="text/csv">
	      <options del=":" sep="" cols="2" output="assoc"/>
	    </resource>
	    <resource name="map-2D-n" path="maps/Map.2D.normal.png" type="image/png"/>
	    <resource name="map-3D-n" path="maps/Map.3D.normal.png" type="image/png"/>
	    <resource name="map-2D-c" path="maps/Map.2D.cave.png" type="image/png"/>
	    <resource name="map-3D-c" path="maps/Map.3D.cave.png" type="image/png"/>
	    <resource name="heart.0" path="heart.0.svg" type="image/svg+xml"/>
	    <resource name="heart.1" path="heart.1.svg" type="image/svg+xml"/>
	    <resource name="heart.2" path="heart.2.svg" type="image/svg+xml"/>
	    <resource name="food.0" path="food.0.svg" type="image/svg+xml"/>
	    <resource name="food.1" path="food.1.svg" type="image/svg+xml"/>
	    <resource name="food.2" path="food.2.svg" type="image/svg+xml"/>
	    <resource-directory name="maps" path="maps" type="image/png"/>
	    <resource-directory name="blocks" path="blocks" type="image/png"/>
	    <resource-directory name="pics" path="pictures" type="image/*"/>
	    <resource name="chunks" path="chunks.json" type="application/json"/>
	    <resource name="craft" path="craft.json" type="application/json"/>
	    <resource name="ids" path="ids.json" type="application/json"/>
	    <resource name="import" path="import.json" type="application/json"/>
	    <resource name="mapping" path="mapping.json" type="application/json"/>
	    <resource name="trade" path="trade.json" type="application/json"/>
	    <resource name="waypoints" path="waypoints.json" type="application/json"/>
	</directory>
    <fragment name="home">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <fragment name="content">
        <use-template ref="xsl/home"/>
        <import ref="//slothsoft@core/DOM"/>
        <use-document ref="//farah/sites"/>
        <use-document ref="static/news"/>
        <use-document as="log" ref="log-wrapper"/>
        <use-document as="chat-short" ref="//slothsoft@chat/default"/>
      </fragment>
    </fragment>
    <fragment name="chat">
      <param name="chat-database" value=""/>
      <param name="chat-duration" value="7"/>
      <use-template ref="//slothsoft@chat/xsl/shoutbox"/>
      <use-document as="chat" ref="//slothsoft@chat/default"/>
    </fragment>
    <fragment name="news">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <fragment name="content">
        <use-template ref="xsl/news"/>
        <use-document ref="static/news"/>
      </fragment>
    </fragment>
    <fragment name="log">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="log-wrapper"/>
    </fragment>
    <fragment name="archive">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="//slothsoft@chat/archive"/>
    </fragment>
    <fragment name="log-wrapper">
      <use-template ref="xsl/log"/>
      <use-document ref="log-content"/>
    </fragment>
    <fragment name="log-content">
      <use-template ref="xsl/log.content"/>
      <use-document ref="data/log"/>
      <use-document ref="data/status"/>
    </fragment>
    <fragment name="shoutbox">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="//slothsoft@chat/default"/>
    </fragment>
    <fragment name="maps">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="maps-content"/>
    </fragment>
    <fragment name="map-2D-normal">
      <import ref="map"/>
      <use-document as="map" ref="static/map-2D-n"/>
    </fragment>
    <fragment name="map-3D-normal">
      <import ref="map"/>
      <use-document as="map" ref="static/map-3D-n"/>
    </fragment>
    <fragment name="map-2D-cave">
      <import ref="map"/>
      <use-document as="map" ref="static/map-2D-c"/>
    </fragment>
    <fragment name="map-3D-cave">
      <import ref="map"/>
      <use-document as="map" ref="static/map-3D-c"/>
    </fragment>
    <fragment name="infos">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="infos-content"/>
    </fragment>
    <fragment name="statistic">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="statistic-content"/>
    </fragment>
    <fragment name="law">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="law-content"/>
    </fragment>
    <fragment name="mall">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="mall-content"/>
    </fragment>
    <fragment name="workshop">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="workshop-content"/>
    </fragment>
    <fragment name="players">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="players-content"/>
    </fragment>
    <fragment name="pics">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="pics-content"/>
    </fragment>
    <fragment name="mapTest">
      <import ref="default"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="content" ref="static/map-mca"/>
    </fragment>
    <fragment name="status">
      <use-template ref="xsl/status"/>
      <import ref="//slothsoft@core/DOM"/>
      <use-document ref="data/status"/>
    </fragment>
    <fragment name="maps-content">
      <use-template ref="xsl/maps"/>
      <use-document ref="static/maps"/>
    </fragment>
    <fragment name="infos-content">
      <use-template ref="xsl/infos"/>
      <use-document ref="static/hardware"/>
      <use-document ref="static/server"/>
    </fragment>
    <fragment name="statistic-content">
      <use-template ref="xsl/infos"/>
      <use-document ref="static/info"/>
      <use-document ref="static/mapping"/>
    </fragment>
    <fragment name="law-content">
      <use-template ref="xsl/law"/>
    </fragment>
    <fragment name="mall-content">
      <use-template ref="xsl/mall"/>
      <use-document ref="static/trade"/>
    </fragment>
    <fragment name="workshop-content">
      <use-template ref="xsl/workshop"/>
      <use-document ref="static/craft"/>
    </fragment>
    <fragment name="players-content">
      <use-template ref="xsl/players"/>
      <use-document ref="static/players"/>
      <use-document ref="static/heart.0"/>
      <use-document ref="static/heart.1"/>
      <use-document ref="static/heart.2"/>
      <use-document ref="static/food.0"/>
      <use-document ref="static/food.1"/>
      <use-document ref="static/food.2"/>
    </fragment>
    <fragment name="pics-content">
      <use-template ref="xsl/pics"/>
      <use-document ref="data/pics-upload"/>
      <use-document ref="static/pics"/>
    </fragment>
    <fragment name="map">
      <use-template ref="xsl/_map"/>
      <link-stylesheet ref="//slothsoft@slothsoft/css/default"/>
      <link-stylesheet ref="//slothsoft@slothsoft/css/layout"/>
      <link-stylesheet ref="//slothsoft@slothsoft/css/fonts"/>
      <link-stylesheet ref="//slothsoft@slothsoft/css/colors"/>
      <link-stylesheet ref="css/default"/>
      <use-document as="navi" ref="//slothsoft@slothsoft/navi"/>
      <use-document as="validator" ref="//slothsoft@slothsoft/validator"/>
      <use-document as="dict.select" ref="//slothsoft@slothsoft/dict.select"/>
    </fragment>
    <fragment name="default">
      <import ref="//slothsoft/default"/>
      <use-document ref="status"/>
    </fragment>
  </assets>
</module>
